$color1: hsl(178,60%,48%);
$color2: hsl(178,75%,65%);
$color3: hsl(39,88%,58%);
$color4: hsl(39,100%,69%);
$color5: hsl(202,32%,15%);
$color6: hsl(199,35%,19%);
$color7: hsl(198,23%,72%);
$color8: hsl(197,33%,89%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$box-shadow-3:hsl(39,88%, 58%,.8);
$box-shadow-1: hsl(178,60%,48%,.8);
